# Model Inference

Nama : Alfarabi

Dataset : [Credit Card Default](https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=ml_datasets&t=credit_card_default&page=table&project=green-reporter-417802&ws=!1m5!1m4!4m3!1sbigquery-public-data!2sml_datasets!3scredit_card_default)

In [4]:
# Import library
import pandas as pd
import pickle

In [5]:
# Load the file
with open ('best_svc.pkl', 'rb') as file_1: # rb = read binary
    best_svc = pickle.load(file_1)

In [6]:
# Membaca file 'data_inf.csv' yang berisi data untuk train data inference
df_inf = pd.read_csv('data_inf.csv')

# Menampilkan dataframe df_inf
df_inf

,Unnamed: 0,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,0,260000.0,2,3,2,49.0,-2.0,-2.0,-2.0,-2.0,...,200304.0,2735.0,316.0,305.0,217773.0,200304.0,2759.0,316.0,305.0,2596.0

In [7]:
# Predict using Linear Regression
y_pred_inf = best_svc.predict(df_inf)
print('default_payment_next_month:',y_pred_inf) #before
print('default_payment_next_month:',round(y_pred_inf[0],1)) #after

default_payment_next_month: [0]
default_payment_next_month: 0