# Import Libraries

In [1]:
# Import library
import pandas as pd
import pickle
import json

# Load Data

In [2]:
# Memuat model scaler dari file 'model_scaler.pkl'
with open('model_scaler.pkl', 'rb') as file_1:
  model_scaler = pickle.load(file_1)

# Memuat model PCA (Principal Component Analysis) dari file 'model_pca.pkl'
with open('model_pca.pkl', 'rb') as file_2:
  model_pca = pickle.load(file_2)

# Memuat model K-Means dari file 'model_km.pkl'
with open('model_km.pkl', 'rb') as file_3:
  model_km = pickle.load(file_3)

# Memuat daftar nama fitur numerik (num_col) dari file 'num_col.txt' dalam format JSON
with open('num_col.txt','r') as file_4:
  num_col = json.load(file_4)

# Load Data Inference

In [3]:
# Create data inference
df_inf={'BALANCE' : 11590,
        'BALANCE_FREQUENCY' : 1,
        'PURCHASES' : 9000,
        'ONEOFF_PURCHASES' : 1464,
        'INSTALLMENTS_PURCHASES' : 5967,
        'CASH_ADVANCE' : 6048,
        'PURCHASES_FREQUENCY' : 0,
        'ONEOFF_PURCHASES_FREQUENCY' : 0,
        'PURCHASES_INSTALLMENTS_FREQUENCY' : 1,
        'CASH_ADVANCE_FREQUENCY': 1.1,
        'CASH_ADVANCE_TRX' : 45,
        'PURCHASES_TRX' : 80,
        'CREDIT_LIMIT' : 25000,
        'PAYMENTS' : 4034,
        'MINIMUM_PAYMENTS' : 54086,
        'PRC_FULL_PAYMENT': 1,
        'TENURE' : 12,
        }

# Create DataFrame for inference
df_inf = pd.DataFrame([df_inf])
df_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,11590,1,9000,1464,5967,6048,0,0,1,1.1,45,80,25000,4034,54086,1,12

# Scaling dan PCA

In [4]:
# Melakukan transformasi scaling menggunakan model_scaler pada dataframe df_inf
df_inf_scaled = model_scaler.transform(df_inf)

In [5]:
# Mengaplikasikan transformasi PCA pada data yang telah discaling
df_inf_pca = model_pca.transform(df_inf_scaled)

# Predict Inference

In [6]:
# Menggunakan model klastering untuk memprediksi klaster dari data yang di-preprocessed dengan PCA
df_pred = model_km.predict(df_inf_pca)

# Menampilkan label klaster berdasarkan prediksi
if df_pred == 0:
    print('Cluster 0')
elif df_pred == 1:
    print('Cluster 1')
elif df_pred == 2:
    print('Cluster 2')
elif df_pred == 3:
    print('Cluster 3')
elif df_pred == 4:
    print('Cluster 4')

Cluster 4