# Model Inference

Nama : Alfarabi

Dataset : [Uber and Lyft Dataset Boston, MA](https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma)

In [1]:
# Import library
import pandas as pd
import numpy as np
import pickle
import json

In [2]:
# Load the files
with open ('model_lin.pkl', 'rb') as file_1: # rb = read binary
    model_lin = pickle.load(file_1)
with open('model_scaler.pkl', 'rb') as file_2:
    model_scaler = pickle.load(file_2)
with open('model_encoder.pkl', 'rb') as file_3:
    model_encoder = pickle.load(file_3)
with open('num_col.txt', 'r') as file_4: # r = read
    num_col = json.load(file_4)
with open('cat_col.txt', 'r') as file_5:
    cat_col = json.load(file_5)

In [3]:
# Membaca file 'data_inf.csv' yang berisi data untuk train data inference
df_inf = pd.read_csv('data_inf.csv')

# Menampilkan dataframe df_inf
df_inf

,Unnamed: 0,hour,day,month,timezone,source,destination,cab_type,name,distance,...,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime,price_category
0,0,12,28,11,America/New_York,South Station,North Station,Uber,Black,2.38,...,1543420800,33.83,1543399200,42.61,1543438800,30.13,1543399200,36.6,1543438800,above_average

In [4]:
# Split between numerical and categorical column
df_inf_num = df_inf[num_col]
df_inf_cat = df_inf[cat_col]

In [5]:
# DataFrame untuk data kategorikal yang akan digunakan dalam training model inference.
df_inf_cat

    name
0  Black

In [6]:
# DataFrame berisi fitur numerik untuk training inference
df_inf_num

   surge_multiplier  distance
0               1.0      2.38

In [7]:
# Scalling and Encoding
df_inf_num_scaled = model_scaler.transform(df_inf_num)
df_inf_cat_scaled = model_encoder.transform(df_inf_cat)

In [8]:
# Cek value
df_inf_num_scaled

array([[0.        , 0.43703704]])

In [9]:
# Cek value
df_inf_cat_scaled

<1x12 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [10]:
# Menggabungkan fitur numerik yang telah di-scale dan fitur kategori yang telah di-encode ke dalam satu array numpy
df_inf_final = np.concatenate([df_inf_num_scaled,df_inf_cat_scaled.toarray()],axis=1)

In [11]:
# Predict using Linear Regression
y_pred_inf = model_lin.predict(df_inf_final)
print('price:',y_pred_inf) #before
print('price:',round(y_pred_inf[0],1)) #after

price: [20.94274902]
price: 20.9